server:
  port: 8080
spring:
  datasource:
    url: jdbc:mysql://localhost:3307/accountsdb
    driverClassName: com.mysql.cj.jdbc.Driver
    username: root
    password: password
  h2:
    console:
      enabled: true
  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
        ddl-auto: update
    show-sql: true
    sql:
      init:
        mode: always
  config:
    import: "optional:configserver:http://localhost:8071/"

# DEBUG SQL & PARAMETERS
logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
